body {
    height: 100vh;
    background-color: #E5E5E5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 30px;


}


#content div {
    border: solid 2px;
    padding: 30px;
}

.one {
    grid-row: 1/3;
}

.two {
    grid-row: 3/5;
}

.three {
    grid-row: 1/5;
}


.four {
    grid-column: 3;
    grid-row: 1/2;
}


.five {
    grid-column: 3;
    grid-row: 2/3;
}

.six {
    grid-column: 3;
    grid-row: 3/4;
}

.seven {}







.twelve {
    grid-column: 1/4;
}